/*
.debug{
    
    border: 1px solid black;
}

.deb-col{
    border: 1px solid black;
    min-height: 60px;
}
*/
header{
    height: 70px;
    background-color: #fff;
}

header form{
    margin: 0 20px;
    height: 70%;
    flex-grow: 2;
}

header form i{
    background-color: #E5E5E5;
    padding: 11px 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

header form .form-control{
    background-color: #E5E5E5;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
}

.logo .logo-mobile{
    object-fit: cover;
    width: 100%;
    height: 70%;
}

.icons a{
    text-decoration: none;
    color: #504E4E;
}
.left-nav a{
    text-decoration: none;
    color: white;
}

.icons i.fa-bell{
    color: #FF8F00;
}

.left-nav{
    width: 70px;
    height: 100vh;
    background-image: url(/img/sidebar-bg.png);
    background-color: #051E34;
}

.left-nav p{
    display: none;
}

.left-nav #h-btn{
    cursor: pointer;
}

.right-nav .container-fluid .row.blu{
    background-color: #1C73E7;
}


main .right-nav .row #plus{
    color: white;
    text-decoration: none;
}

main .right-nav .badge{
    background-color: #185BBB;
    border-radius: 20px;
}

main .right-nav .badge-btm #plus-b{
    color: white;
    background-color: #185BBB;
    border-radius: 50%;
    padding: 3px 8px;
    font-size: 0.8rem;
}

main .right-nav .row #desktop{
    display: none;
}

main .container-fluid .table img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.container-fluid ul li label{
    font-size: 0.9rem;
}


/***********************************************

                RESPONSIVE

**********************************************/

@media (max-width: 767px){
    .canva{
        width: 100% !important;
    }
}

@media (min-width:768px){
    .right-nav #studente{
        order: 3;
    }
}


@media (min-width: 1200px){
    .left-nav{
        width: 100px;
    }

    .left-nav p{
        display: block;
    }

    .left-nav a{
        padding-right: 10px;
    }

    .right-nav .grow{
        flex-grow: 2;
    }

    main .right-nav .row #desktop{
        display: block;
    }

    main .right-nav .badge-btm #plus-b{
        display: none;
    }

}